

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
header{
	color: white;
}
body{
	background: #333333 ;
}
.header-rod{
		background:linear-gradient(
      to bottom, 
      #323537,
      #111212 100%
    );
}
.header-rod input{
	background: url(../img/search_bg.jpg);
}
.header-rod input:after{
	content: url(../img/search_btn.jpg);
}
.subscribe{
    line-height: 32px;
    margin: 0;
}













